EXPO_PUBLIC_API_URL=https://your-api.example.com/api/v1
GOOGLE_WEB_CLIENT_ID=your-client-id.apps.googleusercontent.com
GOOGLE_ANDROID_CLIENT_ID=your-client-id.apps.googleusercontent.com
EXPO_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_xxxxxxxx
GOOGLE_SERVICES_JSON=./google-services.json
